* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

nav {
  display: block;
  height: 100px;
  background-color: #171111;
}

section {
  height: 700px;
  background: url(Spty-bg.png);
  /* background: #171111; */
}

footer {
  height: 538px;
  background-color: #171111;
}

.container {
  height: inherit;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  text-decoration: none;
}

nav .spotify-logo {
  display: block;
  /* width: 132px;*/
  height: 70px;
  /* margin: 20px 0; */
  margin-left: 120px;
  margin-top: 15px;
}

nav ul {
  width: 484px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 400px;
  margin-bottom: 12px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline;
  font-weight: bold;
  margin: 10px;
  /* padding: 5px; */
}

.nav ul li a {
  font-size: 20px;
}

nav a:hover {
  color: #1db954;
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

.hero-img {
  float: right;
  width: 50%;
  height: inherit;
  margin: 0 auto;
  /* background-image: url(bubbles-mobile.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-login {
  width: 50%;
  float: left;
}

.container-login img {
  margin-top: 160px;
  margin-left: 50px;
  width: 80%;
  float: left;
}

#title {
  width: inherit;
  color: white;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 1.15;
  margin-bottom: 20px;
}

section .container {
  flex-direction: column;
  justify-content: center;
}

.btn-spotify {
  width: 260px;
  margin: 0 auto;
  color: white;
  background-color: #1db954;
  padding: 18px 42px 18px;
  border: 0px;
  border-radius: 500px;
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  transition-duration: 0.3s;
}

.btn-spotify a {
  text-decoration: none;
  color: white;
}

.btn-spotify:hover {
  cursor: pointer;
  background-color: #1ed760;
}

.container-foot {
  margin: 0 auto;
  margin-left: 100px;
  margin-right: 10px;
  padding: 0 50px;
  /* display: flex; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #171111;
  color: aliceblue;
  font-size: 20px;
}

.logo {
  /* margin-top: 30px; */
  width: 200px;
  height: 66px;
}

.container-foot ul {
  margin-top: 50px;
  list-style: none;
}

.first {
  color: rgb(182, 177, 177);
  font-size: 20px;
}

ul li a {
  color: white;
  /* font-size: 10px; */
  text-decoration: none;
}

ul li {
  color: white;
  font-size: 35px;
  text-decoration: none;
}

ul li a:hover {
  color: rgb(2, 251, 2);
}

.item5 img {
  width: 40px;
}

.item5 ul li {
  padding: 12px;
  display: inline-block;
  margin: 2px;
}

.container-foot ul li a {
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .item5 img {
    width: 30px;
  }

  .logo {
    width: 40px;
    height: 20px;
  }

  .first {
    font-size: 10px;
  }
}

ul li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

/* .social-foot li a img:hover{

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 44px;
  height: 44px;

} */

.social-foot li a img:hover {
  cursor: pointer;
  background-color: #1ed760;
}

.container-footer {
  max-width: 1170px;
  margin: auto;
}
.footer-col {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  margin-top: 50px;
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
